
nav.wy-nav-side {
    background: rgb(255, 255, 255);
    color: #404040;
}

div.wy-side-nav-search {
    color: #404040;
    background: rgb(255, 255, 255);
    margin-left: 15px;
}

div.wy-side-nav-search .version {
    color: #404040;
    font-weight: bold;
}


span.caption-text {
    color: #404040;
}

div.wy-menu .caption-text {
    color: #404040;
    font-weight: bold;
    margin-left:15px;
}

div.wy-nav-content {
    border-left: solid;
    border-left-color:#404040;
    list-style: disc;
    max-width: 1200px;
}

div.wy-menu{

    background: rgb(255, 255, 255);
    color: #404040;
}

div.wy-menu.wy-menu-vertical {

    margin-left: 15px;
    background: rgb(255, 255, 255);
}

div.wy-menu.wy-menu-vertical p {
    margin: 0 0 0;
}


div.wy-menu-vertical a {
    color: #126782;
    font-weight: bold;
}

div.wy-menu-vertical a:hover {
    color: #126782;
    font-weight: bold;
    background: #ced4da;
}

div.wy-menu-vertical a:active {
    color: #126782;
    font-weight: bold;
}

div.wy-menu-vertical a:visited {
    color: #126782;
    font-weight: bold;
}

div.wy-menu-vertical a:visited {
    color: #126782;
    font-weight: bold;
}


.rst-content .admonition-title, .wy-alert-title {
    background: #126782;
}

span.std.std-ref {
    color: #126782;
    font-weight: bold;

}

a.reference.external {
    color: #126782;
    font-weight: bold;
}

.tag {
    display: inline-block;
    padding: 0.2em 0.6em;
    margin: 0 0.1em;
    background-color: #007BFF; /* Replace with your desired background color */
    color: #FFFFFF; /* Replace with your desired text color */
    border-radius: 0.25em;
    font-size: 90%;
    font-weight: bold;
}