
nav.wy-nav-side {
    background: rgb(255, 255, 255);
    color: #404040;
}

div.wy-side-nav-search {
    color: #404040;
    background: rgb(255, 255, 255);
    margin-left: 15px;
}

div.wy-side-nav-search .version {
    color: #404040;
    font-weight: bold;
}


span.caption-text {
    color: #404040;
}

div.wy-menu .caption-text {
    color: #404040;
    font-weight: bold;
    margin-left:15px;
}

div.wy-nav-content {
    border-left: solid;
    border-left-color:#404040;
    list-style: disc;
    max-width: 1200px;
}

div.wy-menu{

    background: rgb(255, 255, 255);
    color: #404040;
}

div.wy-menu.wy-menu-vertical {

    margin-left: 15px;
    background: rgb(255, 255, 255);
}

div.wy-menu.wy-menu-vertical p {
    margin: 0 0 0;
}


div.wy-menu-vertical a {
    color: #126782;
    font-weight: bold;
}

div.wy-menu-vertical a:hover {
    color: #126782;
    font-weight: bold;
    background: #ced4da;
}

div.wy-menu-vertical a:active {
    color: #126782;
    font-weight: bold;
}

div.wy-menu-vertical a:visited {
    color: #126782;
    font-weight: bold;
}

div.wy-menu-vertical a:visited {
    color: #126782;
    font-weight: bold;
}


.rst-content .admonition-title, .wy-alert-title {
    background: #126782;
}

span.std.std-ref {
    color: #126782;
    font-weight: bold;

}

a.reference.external {
    color: #126782;
    font-weight: bold;
}

.sed, .sed a {
    display: inline-block;
    padding: 0.1em 0.6em;
    margin: 0.2em 0.2em; /* Increased top and bottom margin */
    background-color: #264653; /* Change to the color you want for the tag background */
    color: white !important; /* Change to the color you want for the tag text */
    border-radius: 0.25em;
    font-size: 90%;
    font-weight: bold;
    text-align: center;
    border: 1px solid transparent; /* Optional: adds a border */
    text-decoration: none; /* Optional: removes underline from hyperlinks */
    font-family: 'Courier New', monospace; /* This line sets the font to Courier New, which is monospaced */

}
.sec, .sec a {
    display: inline-block;
    padding: 0.1em 0.6em;
    margin: 0.2em 0.2em; /* Increased top and bottom margin */
    background-color: #2a9d8f; /* Change to the color you want for the tag background */
    color: white !important; /* Change to the color you want for the tag text */
    border-radius: 0.25em;
    font-size: 90%;
    font-weight: bold;
    text-align: center;
    border: 1px solid transparent; /* Optional: adds a border */
    text-decoration: none; /* Optional: removes underline from hyperlinks */
    font-family: 'Courier New', monospace; /* This line sets the font to Courier New, which is monospaced */

}
.sel, .sel a {
    display: inline-block;
    padding: 0.1em 0.6em;
    margin: 0.2em 0.2em; /* Increased top and bottom margin */
    background-color: #e9c46a; /* Change to the color you want for the tag background */
    color: white !important; /* Change to the color you want for the tag text */
    border-radius: 0.25em;
    font-size: 90%;
    font-weight: bold;
    text-align: center;
    border: 1px solid transparent; /* Optional: adds a border */
    text-decoration: none; /* Optional: removes underline from hyperlinks */
    font-family: 'Courier New', monospace; /* This line sets the font to Courier New, which is monospaced */

}
.asc, .asc a {
    display: inline-block;
    padding: 0.1em 0.6em;
    margin: 0.2em 0.2em; /* Increased top and bottom margin */
    background-color: #f4a261; /* Change to the color you want for the tag background */
    color: white !important; /* Change to the color you want for the tag text */
    border-radius: 0.25em;
    font-size: 90%;
    font-weight: bold;
    text-align: center;
    border: 1px solid transparent; /* Optional: adds a border */
    text-decoration: none; /* Optional: removes underline from hyperlinks */
    font-family: 'Courier New', monospace; /* This line sets the font to Courier New, which is monospaced */

}
.ac, .ac a {
    display: inline-block;
    padding: 0.1em 0.6em;
    margin: 0.2em 0.2em; /* Increased top and bottom margin */
    background-color: #e76f51; /* Change to the color you want for the tag background */
    color: white !important; /* Change to the color you want for the tag text */
    border-radius: 0.25em;
    font-size: 90%;
    font-weight: bold;
    text-align: center;
    border: 1px solid transparent; /* Optional: adds a border */
    text-decoration: none; /* Optional: removes underline from hyperlinks */
    font-family: 'Courier New', monospace; /* This line sets the font to Courier New, which is monospaced */

}
.urban, .urban a {
    display: inline-block;
    padding: 0.1em 0.6em;
    margin: 0.2em 0.2em; /* Increased top and bottom margin */
    background-color: #03045e; /* Change to the color you want for the tag background */
    color: white !important; /* Change to the color you want for the tag text */
    border-radius: 0.25em;
    font-size: 90%;
    font-weight: bold;
    text-align: center;
    border: 1px solid transparent; /* Optional: adds a border */
    text-decoration: none; /* Optional: removes underline from hyperlinks */
    font-family: 'Courier New', monospace; /* This line sets the font to Courier New, which is monospaced */

}
.environment, .environment a {
    display: inline-block;
    padding: 0.1em 0.6em;
    margin: 0.2em 0.2em; /* Increased top and bottom margin */
    background-color: #0077b6; /* Change to the color you want for the tag background */
    color: white !important; /* Change to the color you want for the tag text */
    border-radius: 0.25em;
    font-size: 90%;
    font-weight: bold;
    text-align: center;
    border: 1px solid transparent; /* Optional: adds a border */
    text-decoration: none; /* Optional: removes underline from hyperlinks */
    font-family: 'Courier New', monospace; /* This line sets the font to Courier New, which is monospaced */

}
.machine, .machine a {
    display: inline-block;
    padding: 0.1em 0.6em;
    margin: 0.2em 0.2em; /* Increased top and bottom margin */
    background-color: #00b4d8; /* Change to the color you want for the tag background */
    color: white !important; /* Change to the color you want for the tag text */
    border-radius: 0.25em;
    font-size: 90%;
    font-weight: bold;
    text-align: center;
    border: 1px solid transparent; /* Optional: adds a border */
    text-decoration: none; /* Optional: removes underline from hyperlinks */
    font-family: 'Courier New', monospace; /* This line sets the font to Courier New, which is monospaced */

}
.bioacoustic, .bioacoustic a {
    display: inline-block;
    padding: 0.1em 0.6em;
    margin: 0.2em 0.2em; /* Increased top and bottom margin */
    background-color: #90e0ef; /* Change to the color you want for the tag background */
    color: white !important; /* Change to the color you want for the tag text */
    border-radius: 0.25em;
    font-size: 90%;
    font-weight: bold;
    text-align: center;
    border: 1px solid transparent; /* Optional: adds a border */
    text-decoration: none; /* Optional: removes underline from hyperlinks */
    font-family: 'Courier New', monospace; /* This line sets the font to Courier New, which is monospaced */

}
.music, .music a {
    display: inline-block;
    padding: 0.1em 0.6em;
    margin: 0.2em 0.2em; /* Increased top and bottom margin */
    background-color: #e0aaff; /* Change to the color you want for the tag background */
    color: white !important; /* Change to the color you want for the tag text */
    border-radius: 0.25em;
    font-size: 90%;
    font-weight: bold;
    text-align: center;
    border: 1px solid transparent; /* Optional: adds a border */
    text-decoration: none; /* Optional: removes underline from hyperlinks */
    font-family: 'Courier New', monospace; /* This line sets the font to Courier New, which is monospaced */

}


