nav.wy-nav-side {
    background: rgb(255, 255, 255);
    color: #404040;
}

div.wy-side-nav-search {
    color: #404040;
    background: rgb(255, 255, 255);
}

div.wy-side-nav-search .version {
    color: #404040;
    font-weight: bold;
}


span.caption-text {
    color: #404040;
}

div.wy-menu .caption-text {
    color: #404040;
    font-weight: bold;
    margin-left:15px;
}

div.wy-nav-content {
    border-left: solid;
    border-left-color:#404040;
    list-style: disc;
}

div.wy-menu{

    background: rgb(255, 255, 255);
    color: #404040;
}

div.wy-menu.wy-menu-vertical {

    margin-left: 15px;
    background: rgb(255, 255, 255);
}

div.wy-menu.wy-menu-vertical p {
    margin: 0 0 0;
}


div.wy-menu-vertical a {
    color: #2980b9;
    font-weight: bold;
}

div.wy-menu-vertical a:hover {
    color: rgb(250,250,250);
    font-weight: bold;
    background: #404040;
}

div.wy-menu-vertical a:active {
    color: #404040;
    font-weight: bold;
}

div.wy-menu-vertical a:visited {
    color: #2980b9;
    font-weight: bold;
}