name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: True

jobs:
    test:
        name: "Python ${{ matrix.python-version }} on ${{ matrix.os }}"
        runs-on: ${{ matrix.os }}

        strategy:
            fail-fast: false
            matrix:
                include:
                    - os: ubuntu-latest
                      python-version: "3.8"
                      channel-priority: "strict"
                      envfile: ".github/environment-ci.yml"

                    - os: ubuntu-latest
                      python-version: "3.9"
                      channel-priority: "strict"
                      envfile: ".github/environment-ci.yml"

                    - os: ubuntu-latest
                      python-version: "3.10"
                      channel-priority: "strict"
                      envfile: ".github/environment-ci.yml"

                    - os: ubuntu-latest
                      python-version: "3.11"
                      channel-priority: "strict"
                      envfile: ".github/environment-ci.yml"

                    - os: macos-latest
                      python-version: "3.11"
                      channel-priority: "strict"
                      envfile: ".github/environment-ci.yml"

                    - os: windows-latest
                      python-version: "3.11"
                      channel-priority: "strict"
                      envfile: ".github/environment-ci.yml"

        steps:
        - uses: actions/checkout@v4
          with:
            submodules: true

        - name: Install OS dependencies
          shell: bash -l {0}
          run: |
            case "${{ runner.os }}" in
            Linux)
              sudo apt-get update -yy
              sudo apt-get install -yy wget libsndfile-dev libsox-fmt-mp3 ffmpeg zip libasound2-dev
              ;; 
            macOS)
              brew install libsamplerate wget libsndfile sox ffmpeg zip 
              ;;
            Windows)
              choco install wget ffmpeg zip
              ;; # You may need to install other dependencies specific to Windows using choco here
            esac

        - name: Cache conda
          id: cache      
          uses: actions/cache@v4
          env:
            CACHE_NUMBER: 3      
          with:
            path: ~/conda_pkgs_dir
            key: ${{ runner.os }}-${{ matrix.python-version }}-conda-${{ env.CACHE_NUMBER }}-${{ hashFiles( matrix.envfile ) }}
            restore-keys: |
              ${{ runner.os }}-${{ matrix.python-version }}-conda-${{ env.CACHE_NUMBER }}-
              ${{ runner.os }}-${{ matrix.python-version }}-conda-
              ${{ runner.os }}-conda-
              
        - name: Setup conda
          uses: conda-incubator/setup-miniconda@v3
          with:
            miniforge-variant: Miniforge3
            miniforge-version: latest
            channel-priority: ${{ matrix.channel-priority }}
            activate-environment: test
            auto-update-conda: false
            python-version: ${{ matrix.python-version }}

        - name: Install conda dependencies
          run: mamba env update -n test -f ${{ matrix.envfile }}

        - name: Conda info
          shell: bash -l {0}
          run: |
            conda info -a
            conda list

        - name: Run pytest
          shell: bash -l {0}
          run: pytest -n auto -vv --cov-report term-missing --cov-report=xml --cov=soundata tests

        - name: Upload coverage to Codecov
          uses: codecov/codecov-action@v4
          with:
            token: ${{ secrets.CODECOV_TOKEN }}
            files: ./coverage.xml
            directory: ./coverage/reports/
            flags: unittests
            env_vars: OS,PYTHON
            name: codecov-umbrella
            fail_ci_if_error: true
            verbose: true