name: Formatting

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: black on soundata
        uses: psf/black@stable
        with:
            options: "--check --verbose"
            src: "soundata"
      - name: black on tests
        uses: psf/black@stable
        with:
            options: "--check --verbose"
            src: "tests"
